<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filnename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/media-queries.css')}}">
    {% block head %} {% endblock %}
</head>
<body>
    {% block content %} {% endblock %}

    <script src="../../static/js/bootstrap.bundle.min.js"></script>
</body>
</html>