<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faça seu login</title>
</head>
<body>
    <main>
        <section id="errors">
            {% set messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        </section>
        <section>
            <form action="">
                <div>
                    <label for="username">Nome de usuário</label>
                    <input type="text" name="username" id="username">
                </div>
                <div>
                    <label for="pwd">Senha</label>
                    <input type="password" name="pwd" id="pwd">
                </div>
                <button type="submit">Entrar</button>
            </form>
        </section>
    </main>
</body>
</html>