{% extends "entry/base.html" %}

    {% block title %}Cadastre-se{% endblock %}

{% block content %}
    <main id="main">
        <div id="div-img"></div>
        <section id="conteiner-errors">
            {% set messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        </section>
        <section class="form-conteiner">
            <form action="{{ url_for('entry.signup')}}" method="post">
                {{ form.csrf_token }}
                <div>
                    {{ form.email.label}}
                    {{ form.email }}
                </div>
                <div>
                    {{ form.name.label }}
                    {{ form.name }}
                </div>
                <div>
                    {{ form.pwd.label }}
                    {{ form.pwd }}
                </div>
                <div>
                    {{ form.pwd_check.label }}
                    {{ form.pwd_check }}
                    <p id="pass-warning">As senhas devem ser iguais!</p>
                </div>
                <button type="submit" id="btn-signup" disabled>Cadastrar-se</button>
                <a href="{{ url_for('entry.login')}}" id="login-a">Possui conta? Faça login</a>
            </form>
        </section>
    </main>

    <script>
        let password = document.getElementById('pwd');
        let password_check = document.getElementById('pwd_check');
        function verifyPass() {
            const pass_warning = document.getElementById('pass-warning');
            if (password.value !== password_check.value) {
                pass_warning.style.display = 'block';
                document.getElementById('btn-submit').disabled = true
            } else {
                pass_warning.style.display = 'none'
                document.getElementById('btn-signup').disabled = false
            }
        }
        password_check.addEventListener('input',  verifyPass);
    </script>
{% endblock %}