@charset "UTF-8";


* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body,
html {
  width: 100vw;
  height: 100vh;
  background-color: #5171A5;
}

main {
  position: relative;
}

.form-task {
  margin: 15px auto;
  padding: 20px;
  width: 380px;
  height: 620px;
  border-radius: 10px;
  background-color: white;

  transition: width .5s;
  transition-timing-function: ease;
}

.form-task .form-control {
  background-color: #5171a570;
}

.form-task .form-control:hover {
  box-shadow: 1px 1px 3px black;
}

.form-task .form-control:focus {
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.649);
  color: black;
}

.form-task textarea {
  margin-bottom: 10px;
  height: 400px;
  resize: none;
}

.form-task button.btn-success {
  float: left;
}

.form-task button.btn-warning {
  float: right;
}

.form-task button:hover {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.523);
}

main .bg-tasks {
  position: relative;

  width: 90vw;
  margin-top: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.515);
  height: 90vh;
}

.task {
  position: relative;

  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(49, 94, 166, 0.608);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.436);
  margin: 10px 0;

  transition: box-shadow 0.3s;
}

.task>a {
  color: black;
}

.task>a:hover {
  color: blue;
  width: 90%;
}

.task:hover {
  box-shadow: 2px 2px 5px black;
  cursor: pointer;
}

.task button {
  position: absolute;
  top: 50%;
  right: 1%;
  transform: translate(0, -50%);

  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  transition: background-color 0.5s;
}

.task button:hover {
  background-color: rgba(0, 128, 0, 0.556);
}

.task button:hover .material-symbols-outlined {
  color: white;
}

.delete-check-hiden {
  display: none;
}

.delete-check {
  display: initial;
}

/* ESTILOS DA PAGINAÇÂO NA HOME */
.btn {
  transition: box-shadow .3s;
}
.btn:hover {
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
}
span#main-head {
  display: block;
  margin: 5px 0 ;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 10px;
}
span#span-filtros {
  float: right;
}
#new_task {
  position: absolute;
  bottom: 10px;
  right: 10px;

  font-size: 36px;
  padding: 5px;
  border-radius: 50%;

  transition: box-shadow .5s;
}
#new_task:hover {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.75);
}
.completed {
  display: none;
  background-color: rgba(49, 166, 72, 0.753);
}
#pages {
  overflow-x: auto;
  scrollbar-width: none;
  overflow-y: hidden;
  white-space: nowrap;

  width: 245px;
  padding: 3px;
  border: 1px solid black;
  border-radius: 3px;
}
#pages > .page {
  color: black;
  text-decoration: none;
  padding:  0 5px ;
  border: 0.2px solid rgba(0, 0, 0, 0.3);
  border-radius: 2px;

  transition: box-shadow .5s;
}
#pages > .page:hover {
  box-shadow: 1px 1px 2px black;
}