@charset "UTF-8";

/* CORES 
    #80ADA0 cambridge blue;
    #5171A5 True blue
*/

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body, html {
    background-color: #5171A5;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

main#main {
    display: block;

    background-color: white;
    width: 80vw;
    height: 550px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    transition: width 0.5s;
}

div#div-img {
    background: url(../images/logo-tasks.png) no-repeat;
    background-size: contain;
    height: 200px;
    margin-top: 30px;
}

section.form-conteiner {
    height: 330px;
}
section.form-conteiner  p#pass-warning {
    display: none;
    color: red;
}
/* section#form-conteiner > div#errors { } */

section.form-conteiner > form {
    margin: auto;

    width: 80%;
    background-color: white;
}
section.form-conteiner > form > div {
    text-align: center;
    margin-bottom: 20px;
}
section.form-conteiner > form input{
    text-align: center;
    width: 100%;
    height: 25px;
    margin-top: 5px;
    background-color: rgba(81, 113, 165, 0.414);
    border: none;
    border-radius: 3px;
}
section.form-conteiner > form input:hover {
    box-shadow: 0 0.5px 3px rgba(0, 0, 0, 0.57);
}
section.form-conteiner > form input:focus-within {
    background-color: white;
    border: 1px solid rgba(81, 113, 165, 0.414);
}
section.form-conteiner > form button{
    display: block;
    background-color: #5171A5;
    color: white;
    margin: auto;
    width: 0px;
    height: 25px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
section.form-conteiner > form button#btn-signup {
    width: 90px;
    background-color: rgba(1, 123, 160, 0.527);
}
section.form-conteiner > form button:hover{
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.537);
    background-color: rgb(1, 124, 160) ;
    color: black;
}

section.form-conteiner > form a {
    margin-top: 15px;
    text-decoration: none;
    color: black;
}
section.form-conteiner > form a#signupt-a{
    float: right;
}
section.form-conteiner > form a#forget-a{
    float: left;
}
section.form-conteiner > form a#login-a{
    display: block;
    text-align: center;
}
section.form-conteiner > form a:hover {
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.57);
    color: rgb(0, 54, 140);
    text-decoration: underline;
}
section.form-conteiner > form a#forget-a:hover {
    color: red;
}
section.form-conteiner > form button#btn-signup {
    width: 90px;
}
