<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} {% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tasks/mobile.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tasks/media-queries.css')}}">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
  <style>
    #powered {
      color: purple;
      font-weight: bold;
      transition: font-size .5s, text-decoration .5s;
    }
    #powered:hover {
      text-decoration: underline;
      font-size: 18px;
      color: purple;
    }
  </style>
  {% block head %} {% endblock %}

</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('tasks.home')}}">Tasks</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('tasks.home')}}">Home | listar tarefas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('tasks.create')}}">Criar tarefa</a>
          </li>
          <li class="nav-item">
            <a id="powered" class="nav-link" href="https://github.com/felipe-fjs" target="_blank">Feito Por Felipe Joaquim</a>
          </li>
          
          {% if not current_user.email_confirmed %}
            <li class="nav-item" id="confirm-email">
              <span class="nav-link">Seu email ainda não foi confirmado! Clique <a href="{{ url_for('entry.generate_token')}}">aqui</a> para gerar uma nova chave de validação se tiver tido algum problema</span>
            </li>
          {% endif %}
        </ul>
        <span class="d-flex">
          <span class="me-2">{{ current_user.name }}</span>
          <a class="nav-link" href="{{ url_for('entry.logout') }}">Sair</a>
        </span>
      </div>
    </div>
  </nav>

  {% block content %} {% endblock %}
  <script src="../../static/js/bootstrap.bundle.min.js"></script>
</body>

</html>