<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %} {% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tasks/mobile.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/tasks/media-queries.css')}}">
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

  {% block head %} {% endblock %}

</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('tasks.home')}}">Tasks</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('tasks.home')}}">Home | listar tarefas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('tasks.create')}}">Criar tarefa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Alterar tarefa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Excluir tarefa</a>
          </li>
        </ul>
        <span class="d-flex">
          <a  href="{{ url_for('entry.logout') }}">Sair</a>
        </span>
      </div>
    </div>
  </nav>

  {% block content %} {% endblock %}

  <script src="../../static/js/bootstrap.bundle.min.js"></script>
</body>

</html>