{% extends "tasks/base.html" %}

      {% block title %}Criar tarefa {% endblock %}>


{% block content %}
    <main>
        <section class="form-task">
            <form action="{{ url_for('tasks.create')}}" method="post">
                <div>
                   {{ form.title.label }}
                   {{ form.title(class='form-control', placeholder='título da tarefa aqui..')}}
                </div>
                <div>
                    {{ form.content.label }}
                    {{ form.content(class='form-control', placeholder='Tarefa aqui...')}}
                </div>
                <div>
                  
                  <button type="submit" class="btn btn-success">Criar Tarefa</button>
                  <button type="reset" class="btn btn-warning">Limpar</button>
                </div>
            </form>
        </section>
    </main>

{% endblock %}