{% extends "tasks/base.html" %}

  {% block title %} {{ task.title[0:10]}} {% endblock %}

  {% block head %} {% endblock %}

  {% block content %}
    <main>
        <section class="form-task">
          {% set messages = get_flashed_messages() %}
          {% if messages %}
            <div>
              {% for message in messages %}
                {{message}}
              {% endfor %}
            </div>
          {% endif%}
            <form>
                <div>

                  <label for="title">Título</label>

                  <input type="text" name="title" id="title" class="form-control" value="{{ task.title }}"  disabled>

                </div>
                <div>
                  <label for="content">Conteúdo</label>

                  <textarea type="text" name="content" id="content" class="form-control" disabled>{{ task.content }}</textarea>

                </div>
                <div>

                  <button type="button" class="btn btn-success" onclick="taskCompleted(`{{url_for('tasks.completed', id=task.id)}}`)">Concluir</button>

                  <a href="{{ url_for('tasks.update_form', id=task.id)}}" class="btn btn-primary">Editar Tarefa</a>

                  <button type="reset" class="btn btn-danger" onclick="">Excluir</button>

                </div>
            </form>
        </section>
    </main>


    <script src="../../static/js/bootstrap.bundle.min.js"></script>
    <script>
      function taskCompleted(url){
        fetch(url, {method:'PUT'}).then(response => response).then(data => { window.location.reload()})
      }

    </script>
  {% endblock %}