{% extends "tasks/base.html" %}
{% block title %}Tarefas{% endblock %}

{% block head %}
    <style>
        #new_task {
            position: absolute;
            bottom: 10px;
            right: 10px;

            font-size: 36px;
            padding: 5px;
            border-radius: 50%;

            transition: box-shadow .5s;
        }
        #new_task:hover {
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.75);
        }
    </style>
{% endblock %}

{% block content %}
<main class="container">
    <div class="row justify-content-center">
        <div class="bg-tasks" onclick>
            <h1>Tarefas existentes</h1>
            {% if tasks %}
            {% for task in tasks %}

            <div class="task" onclick="window.location.href = `{{url_for('tasks.read_task', id=task.id)}}`">
                <a href="{{ url_for('tasks.read_task', id=task.id)}}">{{ task.title }} </a>
                <button type="button" onclick="completed('{{task.id}}', `{{url_for('tasks.completed', id=task.id)}}`)">
                    <span class="material-symbols-outlined">check</span>
                </button>
            </div>
            {% endfor %}

            {% else %}
            <h2 class="alert alert-warning">Não há tarefas cadastradas, crie novas em <a
                    href="{{ url_for('tasks.create')}}">Criar tarefas</a></h2>
            {% endif %}
            <span id="new_task" class="material-symbols-outlined btn btn-primary" title="Adicionar nova tarefa">add_circle</span>
        </div>
    </div>
</main>

<script>
    function completed(url, task_id) {
        fetch(url, {
            method: "PUT"
        })
            .then(response => response.json())
            .then(data => {
                console.log(data)
                window.location.href = "{{ url_for('tasks.home')}}"

            })
    } 
</script>
{% endblock %}