{% extends "tasks/base.html" %}

  {% block title %}{{ task.title[0:10]}} {% endblock %}

  {% block head %} {% endblock %}

  {% block content %}

    <main>
        <section class="form-task">
            <form id="update-form">
                <div>
                  <label for="title">Título</label>
                  <input type="text" name="title" id="title" class="form-control" value="{{ task.title }}">
                </div>
                <div>
                  <label for="content">Conteúdo</label>
                  <textarea type="text" name="content" id="content" class="form-control">{{ task.content }}</textarea>
                </div>
                <div>
                  <button type="submit" class="btn btn-success" >Salvar</button>
                  <button type="reset" class="btn btn-danger">Cancelar</button>
                </div>
            </form>
        </section>
    </main>


    <script>
      document.getElementById('update-form').addEventListener('submit', function (event) {
        event.preventDefault()

        let task = {'title': document.getElementById('title').value, 'content': document.getElementById('content').value}

        fetch("{{ url_for('tasks.update_put', id=task.id)}}", {
          method : 'PUT',
          body: JSON.stringify(task),
          headers: {
            "Content-type": "application/json; charset=UTF-8"
          },
        })
        .then(response => response.json())
        .then(data => {
          console.log(data)
          window.location.href = "{{ url_for('tasks.read_task', id=task.id)}}"
        })
      } )
    </script>
  {% endblock %}